<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{ title | slug }} </title>
    <!--CONTENT MANAGER -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/THELAZYBOY.svg"
    />
    <!-- Remix icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets/css/main.css" />
     <!-- Comments -->
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
  </head>
  <body>
       {% include 'header.njk'  %}
  <main>
    {{ content | safe }}
   
  </main>
  {% include 'footer.njk' %}
  
    <!-- Swiper.js -->
    <script src="/assets/js/swiper-bundle.js"></script>
    <!-- Custom script -->
    <script src="/assets/js/main.js"></script>
    <!-- Search script -->
     <script src="/assets/js/search.js"></script>
    <!--CONTENT MANAGER -->
    <script>

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>