
    <!-- Header -->
    <header class="header">
      <nav class="navbar container" id="navbar">
        <a href="/">
          <h2 class="logo"> THE LAZYBOY</h2>
        </a>
        <div class="menu" id="menu">
          <ul class="list">
            <li class="list-item">
              <a href="/" class="list-link current">HOME</a>
            </li>
            <li class="list-item">
              <a href="#" class="list-link">REDPILL</a>
            </li>
            <li class="list-item">
              <a href="#" class="list-link">PYSCHOLOGY</a>
            </li>
            <li class="list-item">
              <a href="#" class="list-link">SPIRITUALITY</a>
            </li>
            <li class="list-item">
              <a href="#" class="list-link">LIFESTYLE</a>
            </li>
            <li class="list-item screen-lg-hidden">
              <a href="./signin.html" class="list-link">BLOGS</a>
            </li>
            {# <li class="list-item screen-lg-hidden">
              <a href="./signup.html" class="list-link">@LAZYLINK</a>
            </li> #}
          </ul>
        </div>

        <div class="list list-right">
          <div class="icon-box place-items-center" id="theme-toggle-btn">
            <i class="ri-sun-line sun-icon"></i>
            <i class="ri-moon-line moon-icon"></i>
          </div>

          <div class="icon-box place-items-center" id="search-icon">
            <i class="ri-search-line"></i>
          </div>

          <div
            class="icon-box place-items-center screen-lg-hidden menu-toggle-icon"
            id="menu-toggle-icon"
          >
            <i class="ri-menu-3-line open-menu-icon"></i>
            <i class="ri-close-line close-menu-icon"></i>
          </div>

          <a href="#" class="list-link screen-sm-hidden">Sign in</a>
          <a href="#" class="btn sign-up-btn fancy-border screen-sm-hidden">
            <span>Sign up</span>
          </a>
        </div>
      </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
      <div class="form-container">
        <form action="" class="form">
          <input
            class="form-input"
            type="text"
            placeholder="What are you looking for?"
          />
          <button class="btn form-btn icon-box" type="submit">
            <i class="ri-search-line"></i>
          </button>
        </form>
        <span class="form-note">Or press ESC to close.</span>
      </div>
      <div
        class="btn form-close-btn icon-box place-items-center"
        id="form-close-btn"
      >
        <i class="ri-close-line"></i>
      </div>
    </div>