---
title: GUEST POST
layout: "secbase.njk"
---




 <!-- Newsletter -->
    <section class="newsletter section">

        <div class="container">

            <h2 class="title section-title" data-name="Newsletter">Newsletter</h2>

            <div class="form-container-inner">
                <h6 class="title newsletter-title">SUBMIT YOUR POST</h6>
                <p class="newsletter-description">For readers who want to be featured on lazyboy.</p>

                <form action="POST" class="form">
                    <input class="form-input" type="name" required placeholder="Enter your name"> <br>
                    <input class="form-input" type="file" placeholder="Select your file" required> <br>
                    <input class="form-input" type="text" placeholder="Enter your email address" required> <br>
                    <button class="btn form-btn" type="submit">
                        <i class="ri-mail-send-line"></i>
                    </button>
                </form>

            </div>

        </div>

    </section>