---
layout: "base.njk"
title: POSTSPAGE
---
       
    <section class="older-posts section">

        <div class="container">

            <h2 class="title section-title" data-name="SPIRITUALITY">SPIRITUALITY</h2>

            <div class="older-posts-grid-wrapper d-grid">
      
               {%- for post in collections.spirituality -%}
      
                {% include "article-snippet.njk" %}
                {%- endfor -%}
                
            </div>  

        </div>

    </section>
    </main>