--- 
title: FORM SUBMIT
layout: "secbase.njk"
--- 


<section class="newsletter section">

        <div class="container">

            <h2 class="title section-title" data-name="COMMENTS">COMMENT SUBMITTED</h2>

            <div class="form-container-inner">
                <h2 class="title newsletter-title">Comment is being processed</h2>
                <small>might take up to 48hrs before being posted.</small>
               </div>
               </div>
    </section>